#parse("camera/head.vm")


<script>
	function setLiveView() {
		var node = document.getElementById('liveChecked');

		if(node.checked) {
			$("#liveViewContainer").show();
			$("#liveViewContainer").html('<img class="fullHeight" src="$!{request.contextPath}/stream.mjpeg?t=' + Date.now() + '" />');
		} else {
			$("#liveViewContainer").hide();
			$("#liveViewContainer img").attr("src", "");
		}
	}

	function myFunction() {
		var x = "Total Height: " + screen.height + "px";
		document.getElementById("demo").innerHTML = x;
	}
	function myFunction2() {
		var y = "Total Height: " +  document.getElementById('demo2').offsetWidth + "px";
		document.getElementById("demo").innerHTML = y;
	}

	$(document).ready(function(){
		$("#demo2").click(function(){

			var txt = "BtnWidth: " +  this.offsetWidth + "px" + "Total Screen Height: " + screen.height + "px";
			document.getElementById("demo").innerHTML = txt;
			$.post("$!{request.contextPath}/printLast", function(result){
				$("demo").html(result);
			});
		});
		$("#printer").click(function(){
			$.post("$!{request.contextPath}/printLast", function(result){
				$("demo").html(result);
			});
		});
		$("#liveChecked").click(function(){setLiveView();});
		document.getElementById('liveChecked').checked=true;
		setLiveView();
		$("#colDev").hide();

	});



</script>
<div class="row fullWidth fullHeight overflow" id="section_camera">
	<div class="column" id="liveViewContainer" style="display: none">
	</div>
	<div class="column" id="colDev" style="display: none">
		<input type="checkbox" id="liveChecked" />&nbsp;<span class="headline">Live view</span>
		<input type="button" id="printer" value="Imprimer le dernier montage" class="fullWidth" />
		<p>Click the button to display the total height of your screen, in pixels.</p>
		<input type="button" id="demo2" value="Try it"  />
		<p id="demo"></p>
	</div>
</div>
#parse("camera/foot.vm")
